%h1 Listing blogs

%table
  %tr
    %th User
    %th Content
    %th Activity
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.user_id
      %td= blog.content
      %td= blog.activity_id
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Blog', new_blog_path
